schema/cnxml-defs.rng

<?xml version="1.0"?>
<grammar
    xmlns="http://relaxng.org/ns/structure/1.0"
    xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"
    datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes"
    ns="http://cnx.rice.edu/cnxml"
>

<!--
  Common attribute definitions
-->

  <define name="id">
    <attribute name="id">
      <data type="token"/>
    </attribute>
  </define>

  <define name="src">
    <attribute name="src">
      <ref name="URL"/>
    </attribute>
  </define>

  <define name="class-attribute">
    <attribute name="class"/>
  </define>

  <define name="common-attlist">
    <optional>
      <ref name="class-attribute"/>
    </optional>
  </define>

<!--
  Element content model classes
-->

  <define name="textextras">
    <text/>
  </define>

  <define name="URL">
    <text/>
  </define>

  <!-- Class of inline elements -->
  <define name="inline-class">
    <choice>
      <ref name="textextras"/>
      <ref name="emphasis"/>
      <ref name="term"/>
      <ref name="cite"/>
      <ref name="cnxn"/>
      <ref name="link"/>
      <ref name="quote-inline"/>
      <ref name="foreign"/>
      <ref name="code-inline"/>
      <ref name="span"/>
      <ref name="note-footnote"/>
    </choice>
  </define>

  <!-- Inline content model -->
  <define name="inline-content">
    <zeroOrMore>
      <ref name="inline-class"/>
    </zeroOrMore>
  </define>

  <!-- Elements that can be intermixed freely with 'para' -->
  <define name="basic-blocks-class">
    <choice>
      <ref name="quote-block"/>
      <ref name="code-block"/>
      <ref name="definition"/>
      <ref name="example"/>
      <ref name="note"/>
      <ref name="figure"/>
      <ref name="media"/>
      <ref name="table"/>
      <ref name="list"/>
      <ref name="rule"/>
      <ref name="exercise"/>
      <ref name="equation"/>
    </choice>
  </define>

  <!-- Content class for para-like things -->
  <define name="para-content-class">
    <choice>
      <ref name="inline-class"/>
      <ref name="basic-blocks-class"/>
    </choice>
  </define>

  <!-- Content class for div-like things -->
  <define name="div-content-class">
    <choice>
      <ref name="para"/>
      <ref name="para-content-class"/>
    </choice>
  </define>

  <define name="div-content">
    <oneOrMore>
      <ref name="div-content-class"/>
    </oneOrMore>
  </define>

  <!-- Content class for elements that can contain 'section' -->
  <define name="section-content-class">
    <choice>
      <ref name="section"/>
      <ref name="div-content-class"/>
    </choice>
  </define>

  <define name="para-or-div-content-class">
    <choice>
      <oneOrMore>
        <ref name="para-content-class"/>
      </oneOrMore>
      <oneOrMore>
        <ref name="div-content-class"/>
      </oneOrMore>
    </choice>
  </define>

  <define name="para-or-section-content-class">
    <choice>
      <oneOrMore>
        <ref name="para-content-class"/>
      </oneOrMore>
      <oneOrMore>
        <ref name="section-content-class"/>
      </oneOrMore>
    </choice>
  </define>

<!--
  Include CALS tables
-->

  <include href="calstable.rng">
    <define name="table.mdl">
      <group>
        <optional>
          <ref name="name"/>
        </optional>
        <ref name="table-main.mdl"/>
        <optional>
          <ref name="caption"/>
        </optional>
      </group>
    </define>
    <define name="entry.mdl">
      <zeroOrMore>
        <ref name="div-content-class"/>
      </zeroOrMore>
    </define>
  </include>

  <define name="para">
    <element name="para">
      <ref name="para-attlist"/>
      <ref name="para-content"/>
    </element>
  </define>

  <define name="para-attlist">
    <group>
      <ref name="id"/>
      <ref name="common-attlist"/>
    </group>
  </define>

  <define name="para-content">
    <optional>
      <ref name="name"/>
    </optional>
    <oneOrMore>
      <ref name="para-content-class"/>
    </oneOrMore>
  </define>

  <define name="name">
    <element name="name">
      <ref name="name-attlist"/>
      <ref name="name-content"/>
    </element>
  </define>

  <define name="name-attlist">
    <group>
      <optional>
        <ref name="id"/>
      </optional>
      <ref name="common-attlist"/>
    </group>
  </define>

  <define name="name-content">
    <ref name="inline-content"/>
  </define>

  <define name="emphasis">
    <element name="emphasis">
      <ref name="emphasis-attlist"/>
      <ref name="emphasis-content"/>
    </element>
  </define>

  <define name="emphasis-attlist">
    <group>
      <optional>
        <ref name="id"/>
      </optional>
      <ref name="common-attlist"/>
    </group>
  </define>

  <define name="emphasis-content">
    <ref name="inline-content"/>
  </define>

  <define name="term">
    <element name="term">
      <ref name="term-attlist"/>
      <ref name="term-content"/>
    </element>
  </define>

  <define name="term-attlist">
    <group>
      <optional>
        <ref name="id"/>
      </optional>
      <optional>
        <ref name="src"/>
      </optional>
      <ref name="common-attlist"/>
    </group>
  </define>

  <define name="term-content">
    <ref name="inline-content"/>
  </define>

  <define name="cite">
    <element name="cite">
      <ref name="cite-attlist"/>
      <ref name="cite-content"/>
    </element>
  </define>

  <define name="cite-attlist">
    <group>
      <optional>
        <ref name="id"/>
      </optional>
      <optional>
        <ref name="src"/>
      </optional>
      <ref name="common-attlist"/>
    </group>
  </define>

  <define name="cite-content">
    <ref name="inline-content"/>
  </define>

  <define name="cnxn">
    <element name="cnxn">
      <ref name="cnxn-attlist"/>
      <ref name="cnxn-content"/>
    </element>
  </define>

  <define name="cnxn-attlist">
    <group>
      <optional>
        <attribute name="target"/>
      </optional>
      <optional>
        <attribute name="document"/>
      </optional>
      <optional>
        <attribute name="version"/>
      </optional>
      <optional>
        <attribute name="strength">
          <choice>
            <value>0</value>
            <value>1</value>
            <value>2</value>
            <value>3</value>
            <value>4</value>
            <value>5</value>
            <value>6</value>
            <value>7</value>
            <value>8</value>
            <value>9</value>
          </choice>
        </attribute>
      </optional>
      <optional>
        <ref name="id"/>
      </optional>
      <ref name="common-attlist"/>
    </group>
  </define>

  <define name="cnxn-content">
    <ref name="inline-content"/>
  </define>

  <define name="link">
    <element name="link">
      <ref name="link-attlist"/>
      <ref name="link-content"/>
    </element>
  </define>

  <define name="link-attlist">
    <group>
      <optional>
        <ref name="id"/>
      </optional>
      <ref name="src"/>
      <ref name="common-attlist"/>
    </group>
  </define>

  <define name="link-content">
    <ref name="inline-content"/>
  </define>

  <define name="span">
    <element name="span">
      <ref name="span-attlist"/>
      <ref name="span-content"/>
    </element>
  </define>

  <define name="span-attlist">
    <group>
      <optional>
        <ref name="id"/>
      </optional>
      <ref name="common-attlist"/>
    </group>
  </define>

  <define name="span-content">
    <ref name="inline-content"/>
  </define>

  <define name="quote-attlist">
    <group>
      <optional>
        <ref name="src"/>
      </optional>
      <optional>
        <ref name="id"/>
      </optional>
      <ref name="common-attlist"/>
    </group>
  </define>

  <define name="quote-inline">
    <element name="quote">
      <ref name="quote-inline-attlist"/>
      <ref name="quote-inline-content"/>
    </element>
  </define>

  <define name="quote-inline-attlist">
    <group>
      <optional>
        <attribute name="type">
          <value>inline</value>
        </attribute>
      </optional>
      <ref name="quote-attlist"/>
    </group>
  </define>

  <define name="quote-inline-content">
    <ref name="inline-content"/>
  </define>

  <define name="quote-block">
    <element name="quote">
      <ref name="quote-block-attlist"/>
      <ref name="quote-block-content"/>
    </element>
  </define>

  <define name="quote-block-attlist">
    <group>
      <attribute name="type">
        <value>block</value>
      </attribute>
      <ref name="quote-attlist"/>
    </group>
  </define>

  <define name="quote-block-content">
    <ref name="div-content"/>
  </define>

  <define name="foreign">
    <element name="foreign">
      <ref name="foreign-attlist"/>
      <ref name="foreign-content"/>
    </element>
  </define>

  <define name="foreign-attlist">
    <group>
      <optional>
        <ref name="src"/>
      </optional>
      <optional>
        <ref name="id"/>
      </optional>
      <ref name="common-attlist"/>
    </group>
  </define>

  <define name="foreign-content">
    <ref name="inline-content"/>
  </define>

  <define name="code">
    <element name="code">
      <ref name="code-attlist"/>
      <ref name="code-content"/>
    </element>
  </define>

  <define name="code-inline">
    <element name="code">
      <ref name="code-inline-attlist"/>
      <ref name="code-content"/>
    </element>
  </define>

  <define name="code-block">
    <element name="code">
      <ref name="code-block-attlist"/>
      <ref name="code-content"/>
    </element>
  </define>

  <define name="code-attlist">
    <group>
      <optional>
        <ref name="id"/>
      </optional>
      <optional>
        <attribute name="type" a:defaultValue="inline">
          <choice>
            <value>inline</value>
            <value>block</value>
          </choice>
        </attribute>
      </optional>
      <ref name="common-attlist"/>
    </group>
  </define>

  <define name="code-inline-attlist">
    <group>
      <optional>
        <ref name="id"/>
      </optional>
      <optional>
        <attribute name="type">
          <value>inline</value>
        </attribute>
      </optional>
      <ref name="common-attlist"/>
    </group>
  </define>

  <define name="code-block-attlist">
    <group>
      <optional>
        <ref name="id"/>
      </optional>
      <optional>
        <attribute name="type">
          <value>block</value>
        </attribute>
      </optional>
      <ref name="common-attlist"/>
    </group>
  </define>

  <define name="code-content">
    <ref name="inline-content"/>
  </define>

  <define name="definition">
    <element name="definition">
      <ref name="definition-attlist"/>
      <ref name="definition-content"/>
    </element>
  </define>

  <define name="definition-attlist">
    <group>
      <ref name="id"/>
      <ref name="common-attlist"/>
    </group>
  </define>

  <define name="definition-content">
    <group>
      <ref name="term"/>
      <oneOrMore>
        <ref name="meaning"/>
        <zeroOrMore>
          <ref name="example"/>
        </zeroOrMore>
        <optional>
          <ref name="seealso"/>
        </optional>
      </oneOrMore>
    </group>
  </define>

  <define name="meaning">
    <element name="meaning">
      <ref name="meaning-attlist"/>
      <ref name="meaning-content"/>
    </element>
  </define>

  <define name="meaning-attlist">
    <group>
      <optional>
        <ref name="id"/>
      </optional>
      <ref name="common-attlist"/>
    </group>
  </define>

  <define name="meaning-content">
    <optional>
      <ref name="name"/>
    </optional>
    <ref name="div-content"/>
  </define>

  <define name="example">
    <element name="example">
      <ref name="example-attlist"/>
      <ref name="example-content"/>
    </element>
  </define>

  <define name="example-attlist">
    <group>
      <optional>
        <ref name="id"/>
      </optional>
      <ref name="common-attlist"/>
    </group>
  </define>

  <define name="example-content">
    <optional>
      <ref name="name"/>
    </optional>
    <oneOrMore>
      <ref name="section-content-class"/>
    </oneOrMore>
  </define>

  <define name="seealso">
    <element name="seealso">
      <ref name="seealso-attlist"/>
      <ref name="seealso-content"/>
    </element>
  </define>

  <define name="seealso-attlist">
    <ref name="common-attlist"/>
  </define>

  <define name="seealso-content">
    <oneOrMore>
      <ref name="term"/>
    </oneOrMore>
  </define>

  <define name="note">
    <element name="note">
      <ref name="note-attlist"/>
      <ref name="note-content"/>
    </element>
  </define>

  <define name="note-attlist">
    <group>
      <optional>
        <attribute name="type">
          <text/>
        </attribute>
      </optional>
      <optional>
        <ref name="id"/>
      </optional>
      <ref name="common-attlist"/>
    </group>
  </define>

  <define name="note-content">
    <ref name="div-content"/>
  </define>

  <define name="note-footnote">
    <element name="note">
      <ref name="note-footnote-attlist"/>
      <ref name="note-content"/>
    </element>
  </define>

  <define name="note-footnote-attlist">
    <group>
      <attribute name="type">
        <value>footnote</value>
      </attribute>
      <optional>
        <ref name="id"/>
      </optional>
      <ref name="common-attlist"/>
    </group>
  </define>

  <define name="figure">
    <element name="figure">
      <ref name="figure-attlist"/>
      <ref name="figure-content"/>
    </element>
  </define>

  <define name="figure-attlist">
    <group>
      <optional>
        <ref name="id"/>
      </optional>
      <optional>
        <attribute name="orient" a:defaultValue="horizontal">
          <choice>
            <value>horizontal</value>
            <value>vertical</value>
          </choice>
        </attribute>
      </optional>
      <ref name="common-attlist"/>
    </group>
  </define>

  <define name="figure-content">
    <optional>
      <ref name="name"/>
    </optional>
    <choice>
      <group>
        <ref name="subfigure"/>
        <oneOrMore>
          <ref name="subfigure"/>
        </oneOrMore>
      </group>
      <ref name="media"/>
      <ref name="table"/>
      <ref name="code"/>
    </choice>
    <optional>
      <ref name="caption"/>
    </optional>
  </define>

  <define name="media">
    <element name="media">
      <ref name="media-attlist"/>
      <ref name="media-content"/>
    </element>
  </define>

  <define name="media-attlist">
    <group>
      <attribute name="type"/>
      <ref name="src"/>
      <optional>
        <ref name="id"/>
      </optional>
      <ref name="common-attlist"/>
    </group>
  </define>

  <define name="media-content">
    <choice>
      <text/>
      <group>
        <zeroOrMore>
          <ref name="param"/>
        </zeroOrMore>
        <optional>
          <ref name="media"/>
        </optional>
      </group>
    </choice>
  </define>

  <define name="param">
    <element name="param">
      <ref name="param-attlist"/>
      <ref name="param-content"/>
    </element>
  </define>

  <define name="param-attlist">
    <group>
      <attribute name="name"/>
      <attribute name="value"/>
      <ref name="common-attlist"/>
    </group>
  </define>

  <define name="param-content">
    <empty/>
  </define>

  <define name="caption">
    <element name="caption">
      <ref name="caption-attlist"/>
      <ref name="caption-content"/>
    </element>
  </define>

  <define name="caption-attlist">
    <group>
      <optional>
        <ref name="id"/>
      </optional>
      <ref name="common-attlist"/>
    </group>
  </define>

  <define name="caption-content">
    <ref name="inline-content"/>
  </define>

  <define name="subfigure">
    <element name="subfigure">
      <ref name="subfigure-attlist"/>
      <ref name="subfigure-content"/>
    </element>
  </define>

  <define name="subfigure-attlist">
    <group>
      <optional>
        <ref name="id"/>
      </optional>
      <ref name="common-attlist"/>
    </group>
  </define>

  <define name="subfigure-content">
    <group>
      <optional>
        <ref name="name"/>
      </optional>
      <choice>
        <ref name="media"/>
        <ref name="table"/>
        <ref name="code"/>
      </choice>
      <optional>
        <ref name="caption"/>
      </optional>
    </group>
  </define>

  <define name="list">
    <element name="list">
      <ref name="list-attlist"/>
      <ref name="list-content"/>
    </element>
  </define>

  <define name="list-attlist">
    <group>
      <ref name="id"/>
      <optional>
        <attribute name="type"/>
      </optional>
      <ref name="common-attlist"/>
    </group>
  </define>

  <define name="list-content">
    <group>
      <optional>
        <ref name="name"/>
      </optional>
      <oneOrMore>
        <ref name="item"/>
      </oneOrMore>
    </group>
  </define>

  <define name="item">
    <element name="item">
      <ref name="item-attlist"/>
      <ref name="item-content"/>
    </element>
  </define>

  <define name="item-attlist">
    <group>
      <optional>
        <ref name="id"/>
      </optional>
      <ref name="common-attlist"/>
    </group>
  </define>

  <define name="item-content">
    <optional>
      <ref name="name"/>
    </optional>
    <ref name="div-content"/>
  </define>

  <define name="rule">
    <element name="rule">
      <ref name="rule-attlist"/>
      <ref name="rule-content"/>
    </element>
  </define>

  <define name="rule-attlist">
    <group>
      <ref name="id"/>
      <attribute name="type"/>
      <ref name="common-attlist"/>
    </group>
  </define>

  <define name="rule-content">
    <group>
      <optional>
        <ref name="name"/>
      </optional>
      <oneOrMore>
        <ref name="statement"/>
      </oneOrMore>
      <zeroOrMore>
        <choice>
          <ref name="proof"/>
          <ref name="example"/>
        </choice>
      </zeroOrMore>
    </group>
  </define>

  <define name="statement">
    <element name="statement">
      <ref name="statement-attlist"/>
      <ref name="statement-content"/>
    </element>
  </define>

  <define name="statement-attlist">
    <group>
      <optional>
        <ref name="id"/>
      </optional>
      <ref name="common-attlist"/>
    </group>
  </define>

  <define name="statement-content">
    <optional>
      <ref name="name"/>
    </optional>
    <oneOrMore>
      <ref name="section-content-class"/>
    </oneOrMore>
  </define>

  <define name="proof">
    <element name="proof">
      <ref name="proof-attlist"/>
      <ref name="proof-content"/>
    </element>
  </define>

  <define name="proof-attlist">
    <group>
      <optional>
        <ref name="id"/>
      </optional>
      <ref name="common-attlist"/>
    </group>
  </define>

  <define name="proof-content">
    <optional>
      <ref name="name"/>
    </optional>
    <oneOrMore>
      <ref name="section-content-class"/>
    </oneOrMore>
  </define>

  <define name="exercise">
    <element name="exercise">
      <ref name="exercise-attlist"/>
      <ref name="exercise-content"/>
    </element>
  </define>

  <define name="exercise-attlist">
    <group>
      <ref name="id"/>
      <ref name="common-attlist"/>
    </group>
  </define>

  <define name="exercise-content">
    <group>
      <optional>
        <ref name="name"/>
      </optional>
      <ref name="problem"/>
      <zeroOrMore>
        <ref name="solution"/>
      </zeroOrMore>
    </group>
  </define>

  <define name="problem">
    <element name="problem">
      <ref name="problem-attlist"/>
      <ref name="problem-content"/>
    </element>
  </define>

  <define name="problem-attlist">
    <group>
      <optional>
        <ref name="id"/>
      </optional>
      <ref name="common-attlist"/>
    </group>
  </define>

  <define name="problem-content">
    <optional>
      <ref name="name"/>
    </optional>
    <oneOrMore>
      <ref name="section-content-class"/>
    </oneOrMore>
  </define>

  <define name="solution">
    <element name="solution">
      <ref name="solution-attlist"/>
      <ref name="solution-content"/>
    </element>
  </define>

  <define name="solution-attlist">
    <group>
      <optional>
        <ref name="id"/>
      </optional>
      <ref name="common-attlist"/>
    </group>
  </define>

  <define name="solution-content">
    <optional>
      <ref name="name"/>
    </optional>
    <oneOrMore>
      <ref name="section-content-class"/>
    </oneOrMore>
  </define>

  <define name="equation">
    <element name="equation">
      <ref name="equation-attlist"/>
      <ref name="equation-content"/>
    </element>
  </define>

  <define name="equation-attlist">
    <group>
      <ref name="common-attlist"/>
      <ref name="id"/>
    </group>
  </define>

  <define name="equation-content">
    <optional>
      <ref name="name"/>
    </optional>
    <oneOrMore>
      <choice>
        <text/>
        <ref name="media"/>
      </choice>
    </oneOrMore>
  </define>

  <define name="section">
    <element name="section">
      <ref name="section-attlist"/>
      <ref name="section-content"/>
    </element>
  </define>

  <define name="section-attlist">
    <group>
      <ref name="common-attlist"/>
      <optional>
        <ref name="id"/>
      </optional>
    </group>
  </define>

  <define name="section-content">
    <optional>
      <ref name="name"/>
    </optional>
    <oneOrMore>
      <ref name="section-content-class"/>
    </oneOrMore>
  </define>

  <define name="content">
    <element name="content">
      <ref name="content-attlist"/>
      <ref name="content-content"/>
    </element>
  </define>

  <define name="content-attlist">
    <group>
      <ref name="common-attlist"/>
      <optional>
        <ref name="id"/>
      </optional>
    </group>
  </define>

  <define name="content-content">
    <oneOrMore>
      <ref name="section-content-class"/>
    </oneOrMore>
  </define>

  <define name="glossary">
    <element name="glossary">
      <ref name="glossary-attlist"/>
      <ref name="glossary-content"/>
    </element>
  </define>

  <define name="glossary-attlist">
    <group>
      <ref name="common-attlist"/>
      <optional>
        <ref name="id"/>
      </optional>
    </group>
  </define>

  <define name="glossary-content">
    <oneOrMore>
      <ref name="definition"/>
    </oneOrMore>
  </define>

  <define name="metadata">
    <element name="metadata">
      <ref name="metadata-attlist"/>
      <ref name="metadata-content"/>
    </element>
  </define>

  <define name="metadata-attlist">
    <ref name="common-attlist"/>
  </define>

  <define name="metadata-content">
    <oneOrMore>
      <ref name="metadata.elem"/>
    </oneOrMore>
  </define>

  <define name="metadata.elem">
    <element>
      <nsName ns="http://cnx.rice.edu/mdml/0.4"/>
      <zeroOrMore>
        <choice>
          <attribute>
            <anyName/>
          </attribute>
          <text/>
          <ref name="metadata.elem"/>
        </choice>
      </zeroOrMore>
    </element>
  </define>

  <define name="bibtex.elem">
    <element>
      <nsName ns="http://bibtexml.sf.net/"/>
      <zeroOrMore>
        <choice>
          <attribute>
            <anyName/>
          </attribute>
          <text/>
          <ref name="bibtex.elem"/>
        </choice>
      </zeroOrMore>
    </element>
  </define>

  <define name="document">
    <element name="document">
      <ref name="document-attlist"/>
      <ref name="document-content"/>
    </element>
  </define>

  <define name="document-attlist">
    <group>
      <ref name="id"/>
      <ref name="common-attlist"/>
    </group>
  </define>

  <define name="document-content">
    <group>
      <ref name="name"/>
      <optional>
        <ref name="metadata"/>
      </optional>
      <ref name="content"/>
      <optional>
        <ref name="glossary"/>
      </optional>
      <optional>
        <ref name="bibtex.elem"/>
      </optional>
    </group>
  </define>

</grammar>
