schema/cnxml.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v5 rel. 4 U (http://www.xmlspy.com) by Brent Hendricks (Rice University Connexions Project) -->
<!--W3C Schema generated by XMLSPY v5 rel. 4 U (http://www.xmlspy.com)-->
<xs:schema targetNamespace="http://cnx.rice.edu/cnxml/0.4" xmlns:m="http://www.w3.org/1998/Math/MathML" xmlns="http://cnx.rice.edu/cnxml/0.4" xmlns:md="http://cnx.rice.edu/mdml/0.4" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:import namespace="http://cnx.rice.edu/mdml/0.4" schemaLocation="mdml.xsd"/>
	<xs:import namespace="http://www.w3.org/1998/Math/MathML" schemaLocation="http://rhaptos.ece.rice.edu/technology/mathml2/schema/mathml2.xsd"/>
	<!--xmlns:m="http://www.w3.org/1998/Math/MathML/" -->
	<xs:element name="caption">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="emphasis"/>
				<xs:element ref="codeline"/>
				<xs:element ref="term"/>
				<xs:element ref="cite"/>
				<xs:element ref="cnxn"/>
				<xs:element ref="link"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="cite">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="emphasis"/>
				<xs:element ref="codeline"/>
				<xs:element ref="term"/>
				<xs:element ref="cite"/>
				<xs:element ref="cnxn"/>
				<xs:element ref="link"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="cnxn">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="emphasis"/>
				<xs:element ref="codeline"/>
				<xs:element ref="term"/>
				<xs:element ref="cite"/>
				<xs:element ref="cnxn"/>
				<xs:element ref="link"/>
			</xs:choice>
			<xs:attribute name="target" type="xs:string"/>
			<xs:attribute name="module" type="xs:string"/>
			<xs:attribute name="version" type="xs:string"/>
			<xs:attribute name="strength" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="0"/>
						<xs:enumeration value="1"/>
						<xs:enumeration value="2"/>
						<xs:enumeration value="3"/>
						<xs:enumeration value="4"/>
						<xs:enumeration value="5"/>
						<xs:enumeration value="6"/>
						<xs:enumeration value="7"/>
						<xs:enumeration value="8"/>
						<xs:enumeration value="9"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="codeblock">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="emphasis"/>
				<xs:element ref="codeline"/>
				<xs:element ref="term"/>
				<xs:element ref="cite"/>
				<xs:element ref="cnxn"/>
				<xs:element ref="link"/>
			</xs:choice>
			<xs:attribute name="id" type="xs:ID"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="codeline">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="emphasis"/>
				<xs:element ref="codeline"/>
				<xs:element ref="term"/>
				<xs:element ref="cite"/>
				<xs:element ref="cnxn"/>
				<xs:element ref="link"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="colspec">
		<xs:complexType>
			<xs:attribute name="colnum" type="xs:string"/>
			<xs:attribute name="colname" type="xs:string"/>
			<xs:attribute name="colwidth" type="xs:string"/>
			<xs:attribute name="colsep" type="xs:string"/>
			<xs:attribute name="rowsep" type="xs:string"/>
			<xs:attribute name="align">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="left"/>
						<xs:enumeration value="right"/>
						<xs:enumeration value="center"/>
						<xs:enumeration value="justify"/>
						<xs:enumeration value="char"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="char" type="xs:string"/>
			<xs:attribute name="charoff" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="content">
		<xs:complexType>
			<xs:choice maxOccurs="unbounded">
				<xs:element ref="section"/>
				<xs:element ref="para"/>
				<xs:element ref="equation"/>
				<xs:element ref="list"/>
				<xs:element ref="codeblock"/>
				<xs:element ref="figure"/>
				<xs:element ref="table"/>
				<xs:element ref="example"/>
				<xs:element ref="exercise"/>
				<xs:element ref="definition"/>
				<xs:element ref="rule"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="definition">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="term"/>
				<xs:sequence maxOccurs="unbounded">
					<xs:element ref="meaning"/>
					<xs:choice minOccurs="0" maxOccurs="unbounded">
						<xs:element ref="example"/>
					</xs:choice>
				</xs:sequence>
			</xs:sequence>
			<xs:attribute name="id" type="xs:ID" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="emphasis">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="emphasis"/>
				<xs:element ref="codeline"/>
				<xs:element ref="term"/>
				<xs:element ref="cite"/>
				<xs:element ref="cnxn"/>
				<xs:element ref="link"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="entry">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="emphasis"/>
				<xs:element ref="codeline"/>
				<xs:element ref="term"/>
				<xs:element ref="cite"/>
				<xs:element ref="cnxn"/>
				<xs:element ref="link"/>
				<xs:element ref="media"/>
			</xs:choice>
			<xs:attribute name="colname" type="xs:string"/>
			<xs:attribute name="namest" type="xs:string"/>
			<xs:attribute name="nameend" type="xs:string"/>
			<xs:attribute name="spanname" type="xs:string"/>
			<xs:attribute name="morerows" type="xs:string"/>
			<xs:attribute name="colsep" type="xs:string"/>
			<xs:attribute name="rowsep" type="xs:string"/>
			<xs:attribute name="align">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="left"/>
						<xs:enumeration value="right"/>
						<xs:enumeration value="center"/>
						<xs:enumeration value="justify"/>
						<xs:enumeration value="char"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="char" type="xs:string"/>
			<xs:attribute name="charoff" type="xs:string"/>
			<xs:attribute name="rotate" type="xs:string"/>
			<xs:attribute name="valign">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="top"/>
						<xs:enumeration value="middle"/>
						<xs:enumeration value="bottom"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="entrytbl">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="colspec" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="spanspec" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="thead" minOccurs="0"/>
				<xs:element ref="tbody"/>
			</xs:sequence>
			<xs:attribute name="cols" type="xs:string" use="required"/>
			<xs:attribute name="tgroupstyle" type="xs:string"/>
			<xs:attribute name="colname" type="xs:string"/>
			<xs:attribute name="spanname" type="xs:string"/>
			<xs:attribute name="namest" type="xs:string"/>
			<xs:attribute name="nameend" type="xs:string"/>
			<xs:attribute name="colsep" type="xs:string"/>
			<xs:attribute name="rowsep" type="xs:string"/>
			<xs:attribute name="align">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="left"/>
						<xs:enumeration value="right"/>
						<xs:enumeration value="center"/>
						<xs:enumeration value="justify"/>
						<xs:enumeration value="char"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="char" type="xs:string"/>
			<xs:attribute name="charoff" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="equation">
		<xs:complexType mixed="true">
			<xs:sequence>
				<xs:element ref="name" minOccurs="0"/>
				<xs:choice>
					<xs:element ref="media"/>
					<xs:element ref="m:math"/>
				</xs:choice>
			</xs:sequence>
			<xs:attribute name="id" type="xs:ID" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="example">
		<xs:complexType>
			<xs:sequence>
				<xs:choice minOccurs="0">
					<xs:element ref="name"/>
				</xs:choice>
				<xs:choice maxOccurs="unbounded">
					<xs:element ref="para"/>
					<xs:element ref="equation"/>
					<xs:element ref="list"/>
					<xs:element ref="codeblock"/>
					<xs:element ref="figure"/>
					<xs:element ref="table"/>
				</xs:choice>
			</xs:sequence>
			<xs:attribute name="id" type="xs:ID" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="exercise">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="problem"/>
				<xs:element ref="solution"/>
			</xs:sequence>
			<xs:attribute name="id" type="xs:ID" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="figure">
		<xs:complexType>
			<xs:sequence>
				<xs:choice minOccurs="0">
					<xs:element ref="name"/>
				</xs:choice>
				<xs:choice>
					<xs:sequence>
						<xs:element ref="subfigure"/>
						<xs:choice maxOccurs="unbounded">
							<xs:element ref="subfigure"/>
						</xs:choice>
					</xs:sequence>
					<xs:element ref="media"/>
					<xs:element ref="table"/>
					<xs:element ref="codeblock"/>
				</xs:choice>
				<xs:choice minOccurs="0">
					<xs:element ref="caption"/>
				</xs:choice>
			</xs:sequence>
			<xs:attribute name="id" type="xs:ID" use="required"/>
			<xs:attribute name="orient" default="horizontal">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="vertical"/>
						<xs:enumeration value="horizontal"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="item">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="emphasis"/>
				<xs:element ref="codeline"/>
				<xs:element ref="term"/>
				<xs:element ref="cite"/>
				<xs:element ref="cnxn"/>
				<xs:element ref="link"/>
				<xs:element ref="definition"/>
				<xs:element ref="list"/>
				<xs:element ref="note"/>
				<xs:element ref="rule"/>
				<xs:element ref="equation"/>
			</xs:choice>
			<xs:attribute name="id" type="xs:ID"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="link">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="emphasis"/>
				<xs:element ref="codeline"/>
				<xs:element ref="term"/>
				<xs:element ref="cite"/>
				<xs:element ref="cnxn"/>
				<xs:element ref="link"/>
			</xs:choice>
			<xs:attribute name="src" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="list">
		<xs:complexType>
			<xs:sequence>
				<xs:choice minOccurs="0">
					<xs:element ref="name"/>
				</xs:choice>
				<xs:choice maxOccurs="unbounded">
					<xs:element ref="item"/>
				</xs:choice>
			</xs:sequence>
			<xs:attribute name="id" type="xs:ID" use="required"/>
			<xs:attribute name="type" default="bulleted">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="enumerated"/>
						<xs:enumeration value="bulleted"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="meaning">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="emphasis"/>
				<xs:element ref="codeline"/>
				<xs:element ref="term"/>
				<xs:element ref="cite"/>
				<xs:element ref="cnxn"/>
				<xs:element ref="link"/>
				<xs:element ref="equation"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="media">
		<xs:complexType>
			<xs:attribute name="type" type="xs:string" use="required"/>
			<xs:attribute name="src" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="metadata">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="md:version"/>
				<xs:element ref="md:created"/>
				<xs:element ref="md:revised"/>
				<xs:element ref="md:authorlist"/>
				<xs:element ref="md:maintainerlist"/>
				<xs:choice minOccurs="0">
					<xs:element ref="md:keywordlist"/>
				</xs:choice>
				<xs:element ref="md:abstract"/>
				<xs:choice minOccurs="0">
					<xs:element ref="md:objectives"/>
				</xs:choice>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="module">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="name"/>
				<xs:element ref="metadata" minOccurs="0"/>
				<xs:element ref="content"/>
			</xs:sequence>
			<xs:attribute name="id" type="xs:ID" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="name">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string"/>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="note">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="emphasis"/>
				<xs:element ref="codeline"/>
				<xs:element ref="term"/>
				<xs:element ref="cite"/>
				<xs:element ref="cnxn"/>
				<xs:element ref="link"/>
			</xs:choice>
			<xs:attribute name="type" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="para">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="emphasis"/>
				<xs:element ref="codeline"/>
				<xs:element ref="term"/>
				<xs:element ref="cite"/>
				<xs:element ref="cnxn"/>
				<xs:element ref="link"/>
				<xs:element ref="list"/>
				<xs:element ref="equation"/>
				<xs:element ref="definition"/>
				<xs:element ref="note"/>
				<xs:element ref="rule"/>
				<xs:element ref="m:math"/>
			</xs:choice>
			<xs:attribute name="id" type="xs:ID" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="problem">
		<xs:complexType>
			<xs:choice maxOccurs="unbounded">
				<xs:element ref="definition"/>
				<xs:element ref="para"/>
				<xs:element ref="equation"/>
				<xs:element ref="list"/>
				<xs:element ref="codeblock"/>
				<xs:element ref="figure"/>
				<xs:element ref="table"/>
				<xs:element ref="rule"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="proof">
		<xs:complexType>
			<xs:sequence>
				<xs:choice minOccurs="0">
					<xs:element ref="name"/>
				</xs:choice>
				<xs:choice maxOccurs="unbounded">
					<xs:element ref="rule"/>
					<xs:element ref="para"/>
					<xs:element ref="equation"/>
					<xs:element ref="figure"/>
					<xs:element ref="list"/>
				</xs:choice>
			</xs:sequence>
			<xs:attribute name="id" type="xs:ID"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="row">
		<xs:complexType>
			<xs:choice maxOccurs="unbounded">
				<xs:element ref="entry"/>
				<xs:element ref="entrytbl"/>
			</xs:choice>
			<xs:attribute name="rowsep" type="xs:string"/>
			<xs:attribute name="valign">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="top"/>
						<xs:enumeration value="middle"/>
						<xs:enumeration value="bottom"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="rule">
		<xs:complexType>
			<xs:sequence>
				<xs:choice minOccurs="0">
					<xs:element ref="name"/>
				</xs:choice>
				<xs:choice maxOccurs="unbounded">
					<xs:element ref="statement"/>
				</xs:choice>
				<xs:choice minOccurs="0" maxOccurs="unbounded">
					<xs:element ref="proof"/>
					<xs:element ref="example"/>
				</xs:choice>
			</xs:sequence>
			<xs:attribute name="id" type="xs:ID" use="required"/>
			<xs:attribute name="type" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="section">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="name"/>
				<xs:choice maxOccurs="unbounded">
					<xs:element ref="section"/>
					<xs:element ref="definition"/>
					<xs:element ref="para"/>
					<xs:element ref="equation"/>
					<xs:element ref="list"/>
					<xs:element ref="codeblock"/>
					<xs:element ref="figure"/>
					<xs:element ref="table"/>
					<xs:element ref="example"/>
					<xs:element ref="exercise"/>
					<xs:element ref="rule"/>
				</xs:choice>
			</xs:sequence>
			<xs:attribute name="id" type="xs:ID" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="solution">
		<xs:complexType>
			<xs:choice maxOccurs="unbounded">
				<xs:element ref="para"/>
				<xs:element ref="equation"/>
				<xs:element ref="list"/>
				<xs:element ref="codeblock"/>
				<xs:element ref="figure"/>
				<xs:element ref="table"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="spanspec">
		<xs:complexType>
			<xs:attribute name="namest" type="xs:string" use="required"/>
			<xs:attribute name="nameend" type="xs:string" use="required"/>
			<xs:attribute name="spanname" type="xs:string" use="required"/>
			<xs:attribute name="colsep" type="xs:string"/>
			<xs:attribute name="rowsep" type="xs:string"/>
			<xs:attribute name="align">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="left"/>
						<xs:enumeration value="right"/>
						<xs:enumeration value="center"/>
						<xs:enumeration value="justify"/>
						<xs:enumeration value="char"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="char" type="xs:string"/>
			<xs:attribute name="charoff" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="statement">
		<xs:complexType>
			<xs:choice maxOccurs="unbounded">
				<xs:element ref="para"/>
				<xs:element ref="equation"/>
			</xs:choice>
			<xs:attribute name="id" type="xs:ID"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="subfigure">
		<xs:complexType>
			<xs:sequence>
				<xs:choice minOccurs="0">
					<xs:element ref="name"/>
				</xs:choice>
				<xs:choice>
					<xs:element ref="media"/>
					<xs:element ref="table"/>
					<xs:element ref="codeblock"/>
				</xs:choice>
				<xs:choice minOccurs="0">
					<xs:element ref="caption"/>
				</xs:choice>
			</xs:sequence>
			<xs:attribute name="id" type="xs:ID"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="table">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="name" minOccurs="0"/>
				<xs:element ref="tgroup" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="frame">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="top"/>
						<xs:enumeration value="bottom"/>
						<xs:enumeration value="topbot"/>
						<xs:enumeration value="all"/>
						<xs:enumeration value="sides"/>
						<xs:enumeration value="none"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="colsep" type="xs:string"/>
			<xs:attribute name="rowsep" type="xs:string"/>
			<xs:attribute name="id" type="xs:ID" use="required"/>
			<xs:attribute name="tabstyle" type="xs:string"/>
			<xs:attribute name="tocentry" type="xs:string"/>
			<xs:attribute name="shortentry" type="xs:string"/>
			<xs:attribute name="orient">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="port"/>
						<xs:enumeration value="land"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="pgwide" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="tbody">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="row" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="valign">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="top"/>
						<xs:enumeration value="middle"/>
						<xs:enumeration value="bottom"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="term">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="emphasis"/>
				<xs:element ref="codeline"/>
				<xs:element ref="term"/>
				<xs:element ref="cite"/>
				<xs:element ref="cnxn"/>
				<xs:element ref="link"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="tfoot">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="colspec" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="row" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="valign">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="top"/>
						<xs:enumeration value="middle"/>
						<xs:enumeration value="bottom"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="tgroup">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="colspec" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="spanspec" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="thead" minOccurs="0"/>
				<xs:element ref="tfoot" minOccurs="0"/>
				<xs:element ref="tbody"/>
			</xs:sequence>
			<xs:attribute name="cols" type="xs:string" use="required"/>
			<xs:attribute name="tgroupstyle" type="xs:string"/>
			<xs:attribute name="colsep" type="xs:string"/>
			<xs:attribute name="rowsep" type="xs:string"/>
			<xs:attribute name="align">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="left"/>
						<xs:enumeration value="right"/>
						<xs:enumeration value="center"/>
						<xs:enumeration value="justify"/>
						<xs:enumeration value="char"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="char" type="xs:string"/>
			<xs:attribute name="charoff" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="thead">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="colspec" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="row" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="valign">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="top"/>
						<xs:enumeration value="middle"/>
						<xs:enumeration value="bottom"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
</xs:schema>
