schema/mdml.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v5 rel. 4 U (http://www.xmlspy.com) by Brent Hendricks (Rice University Connexions Project) -->
<!--W3C Schema generated by XMLSPY v5 rel. 4 U (http://www.xmlspy.com)-->
<xs:schema targetNamespace="http://cnx.rice.edu/mdml/0.4" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://cnx.rice.edu/mdml/0.4" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="abstract">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string"/>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="author">
		<xs:complexType>
			<xs:sequence>
				<xs:choice minOccurs="0">
					<xs:element ref="honorific"/>
				</xs:choice>
				<xs:element ref="firstname"/>
				<xs:choice minOccurs="0" maxOccurs="unbounded">
					<xs:element ref="othername"/>
				</xs:choice>
				<xs:element ref="surname"/>
				<xs:choice minOccurs="0">
					<xs:element ref="lineage"/>
				</xs:choice>
				<xs:choice minOccurs="0">
					<xs:element ref="email"/>
				</xs:choice>
			</xs:sequence>
			<xs:attribute name="id" type="xs:string" use="required"/>
			<xs:attribute name="homepage" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="authorlist">
		<xs:complexType>
			<xs:sequence maxOccurs="unbounded">
				<xs:element ref="author"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="created">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string"/>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="email">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string"/>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="firstname">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string"/>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="honorific">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string"/>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="keyword">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string"/>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="keywordlist">
		<xs:complexType>
			<xs:sequence maxOccurs="unbounded">
				<xs:element ref="keyword"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="lineage">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string"/>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="maintainer">
		<xs:complexType>
			<xs:sequence>
				<xs:choice minOccurs="0">
					<xs:element ref="honorific"/>
				</xs:choice>
				<xs:element ref="firstname"/>
				<xs:choice minOccurs="0" maxOccurs="unbounded">
					<xs:element ref="othername"/>
				</xs:choice>
				<xs:element ref="surname"/>
				<xs:choice minOccurs="0">
					<xs:element ref="lineage"/>
				</xs:choice>
				<xs:choice minOccurs="0">
					<xs:element ref="email"/>
				</xs:choice>
			</xs:sequence>
			<xs:attribute name="id" type="xs:string" use="required"/>
			<xs:attribute name="homepage" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="maintainerlist">
		<xs:complexType>
			<xs:sequence maxOccurs="unbounded">
				<xs:element ref="maintainer"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="metadata">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="version"/>
				<xs:element ref="created"/>
				<xs:element ref="revised"/>
				<xs:element ref="authorlist"/>
				<xs:element ref="maintainerlist"/>
				<xs:choice minOccurs="0">
					<xs:element ref="keywordlist"/>
				</xs:choice>
				<xs:element ref="abstract"/>
				<xs:choice minOccurs="0">
					<xs:element ref="objectives"/>
				</xs:choice>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="objectives">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string"/>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="othername">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string"/>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="revised">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string"/>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="surname">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string"/>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="version">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string"/>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
</xs:schema>
