schema/mdml-defs.rng

<?xml version="1.0" encoding="utf-8"?>

<!--
<element name="">
</element>
<attribute name="">
</attribute>
<ref name=""/>
<define name="">
</define>
<optional>
</optional>
<zeroOrMore>
</zeroOrMore>
<oneOrMore>
</oneOrMore>
<choice>
</choice>
  -->

<grammar xmlns="http://relaxng.org/ns/structure/1.0"
         xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"
         datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes"
         ns="http://cnx.rice.edu/mdml/0.4"
>

<!-- <!ELEMENT %MDML.metadata.qname; %MDML.metadata.content;>
   -       <!ATTLIST %MDML.metadata.qname; %MDML.xmlns.attrib;>
  -->
  <define name="metadata">
    <element name="metadata">
      <ref name="metadata.attlist"/>
      <ref name="metadata.content"/>
    </element>
  </define>

  <define name="metadata.attlist">
    <empty/>
  </define>

<!-- <!ENTITY % MDML.metadata.content "(
   -    %MDML.version.qname;,
   -    %MDML.created.qname;,
   -    %MDML.revised.qname;,
   -    %MDML.authorlist.qname;,
   -    %MDML.maintainerlist.qname;,
   -    (%MDML.keywordlist.qname;)?,
   -    %MDML.abstract.qname;,
   -    (%MDML.objectives.qname;)?
   - )">
  -->
  <define name="metadata.content">
    <group>
      <ref name="version"/>
      <ref name="created"/>
      <ref name="revised"/>
      <ref name="authorlist"/>
      <ref name="maintainerlist"/>
      <optional>
        <ref name="keywordlist"/>
      </optional>
      <ref name="abstract"/>
      <optional>
        <ref name="objectives"/>
      </optional>
    </group>
  </define>

  <define name="version">
    <element name="version">
      <text/>
    </element>
  </define>

  <define name="created">
    <element name="created">
      <text/>
    </element>
  </define>

  <define name="revised">
    <element name="revised">
      <text/>
    </element>
  </define>

  <define name="authorlist">
    <element name="authorlist">
      <ref name="authorlist.content"/>
    </element>
  </define>

<!-- <!ENTITY % MDML.authorlist.content "(%MDML.author.qname;)+"> -->
  <define name="authorlist.content">
    <oneOrMore>
      <ref name="author"/>
    </oneOrMore>
  </define>

  <define name="author">
    <element name="author">
      <ref name="author.attlist"/>
      <ref name="author.content"/>
    </element>
  </define>

<!--      <!ATTLIST %MDML.author.qname; %MDML.xmlns.attrib;>
   -      <!ATTLIST %MDML.author.qname; id CDATA #REQUIRED>
   -      <!ATTLIST %MDML.author.qname; homepage CDATA #IMPLIED>
  -->
  <define name="mdml-name.attlist">
    <group>
      <attribute name="id"/>
      <optional>
        <attribute name="homepage"/>
      </optional>
    </group>
  </define>

  <define name="author.attlist">
    <ref name="mdml-name.attlist"/>
  </define>

<!-- <!ENTITY % MDML.author.content "(
   -     (%MDML.honorific.qname;)?,
   -      %MDML.firstname.qname;,
   -     (%MDML.othername.qname;)*,
   -      %MDML.surname.qname;,
   -     (%MDML.lineage.qname;)?,
   -     (%MDML.email.qname;)?
   - )">
  -->
  <define name="mdml-name.content">
    <group>
      <optional>
        <ref name="honorific"/>
      </optional>
      <ref name="firstname"/>
      <zeroOrMore>
        <ref name="othername"/>
      </zeroOrMore>
      <ref name="surname"/>
      <optional>
        <ref name="lineage"/>
      </optional>
      <optional>
        <ref name="email"/>
      </optional>
    </group>
  </define>

  <define name="author.content">
    <ref name="mdml-name.content"/>
  </define>

<!-- <!ENTITY % MDML.maintainerlist.content "(%MDML.maintainer.qname;)+">
   - <!ELEMENT %MDML.maintainerlist.qname; %MDML.maintainerlist.content;>
   -           <!ATTLIST %MDML.maintainerlist.qname; %MDML.xmlns.attrib;>
  -->
  <define name="maintainerlist">
    <element name="maintainerlist">
      <oneOrMore>
        <ref name="maintainer"/>
      </oneOrMore>
    </element>
  </define>

<!-- <!ENTITY % MDML.maintainer.content "(
   -     (%MDML.honorific.qname;)?,
   -      %MDML.firstname.qname;,
   -     (%MDML.othername.qname;)*,
   -      %MDML.surname.qname;,
   -     (%MDML.lineage.qname;)?,
   -     (%MDML.email.qname;)?
   - )">
   - <!ELEMENT %MDML.maintainer.qname; %MDML.maintainer.content;>
   -           <!ATTLIST %MDML.maintainer.qname; %MDML.xmlns.attrib;>
   -           <!ATTLIST %MDML.maintainer.qname; id CDATA #REQUIRED>
   -           <!ATTLIST %MDML.maintainer.qname; homepage CDATA #IMPLIED>
  -->
  <define name="maintainer">
    <element name="maintainer">
      <ref name="maintainer.attlist"/>
      <ref name="maintainer.content"/>
    </element>
  </define>

  <define name="maintainer.attlist">
    <ref name="mdml-name.attlist"/>
  </define>

  <define name="maintainer.content">
    <ref name="mdml-name.content"/>
  </define>

<!-- <!ENTITY % MDML.honorific.content "(#PCDATA)">
   - <!ELEMENT %MDML.honorific.qname; %MDML.honorific.content;>
   -           <!ATTLIST %MDML.honorific.qname; %MDML.xmlns.attrib;>
  -->
  <define name="honorific">
    <element name="honorific">
      <text/>
    </element>
  </define>

<!-- <!ENTITY % MDML.firstname.content "(#PCDATA)">
   - <!ELEMENT %MDML.firstname.qname; %MDML.firstname.content;>
   -           <!ATTLIST %MDML.firstname.qname; %MDML.xmlns.attrib;>
  -->
  <define name="firstname">
    <element name="firstname">
      <text/>
    </element>
  </define>

<!-- <!ENTITY % MDML.othername.content "(#PCDATA)">
   - <!ELEMENT %MDML.othername.qname; %MDML.othername.content;>
   -           <!ATTLIST %MDML.othername.qname; %MDML.xmlns.attrib;>
  -->
  <define name="othername">
    <element name="othername">
      <text/>
    </element>
  </define>

<!-- <!ENTITY % MDML.surname.content "(#PCDATA)">
   - <!ELEMENT %MDML.surname.qname; %MDML.surname.content;>
   -           <!ATTLIST %MDML.surname.qname; %MDML.xmlns.attrib;>
  -->
  <define name="surname">
    <element name="surname">
      <text/>
    </element>
  </define>

<!-- <!ENTITY % MDML.lineage.content "(#PCDATA)">
   - <!ELEMENT %MDML.lineage.qname; %MDML.lineage.content;>
   -           <!ATTLIST %MDML.lineage.qname; %MDML.xmlns.attrib;>
  -->
  <define name="lineage">
    <element name="lineage">
      <text/>
    </element>
  </define>

<!-- <!ENTITY % MDML.email.content "(#PCDATA)">
   - <!ELEMENT %MDML.email.qname; %MDML.email.content;>
   -           <!ATTLIST %MDML.email.qname; %MDML.xmlns.attrib;>
  -->
  <define name="email">
    <element name="email">
      <text/>
    </element>
  </define>

  <define name="keywordlist">
    <element name="keywordlist">
      <oneOrMore>
        <ref name="keyword"/>
      </oneOrMore>
    </element>
  </define>

  <define name="keyword">
    <element name="keyword">
      <text/>
    </element>
  </define>

  <define name="abstract">
    <element name="abstract">
      <text/>
    </element>
  </define>

  <define name="objectives">
    <element name="objectives">
      <text/>
    </element>
  </define>

</grammar>
